body {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 300px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8
}

.header-links * {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 32px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 150px 300px;
    justify-content: center;
    gap: 80px;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-right: 80px;
}

.hero-text {
    font-size: 48px;
    height: auto;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
}

.hero-subtext {
    font-size: 18px;
    height: auto;
    color: #E5E7EB;
}

.hero-signup-button {
    background-color: #3882F6;
    color: #FFFFFF;
    border-radius: 8px;
    border: 0px;
    padding: 8px 32px;
    margin-right: auto;
}

.hero-image {
    width: 50%;
    height: auto;
    font-size: 20px;
    padding: 120px 0;
    margin-left: auto;
    background-color: rgba(255, 255, 255, .7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
}

.body-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 50px;
}

.body-images {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.body-image-container {
    display: flex;
    flex-direction: column;
}

.body-img {
    width: 150px;
    height: 150px;
    border: 4px solid rgba(80, 160, 255, 1);
    border-radius: 16px;
}

.body-img-subtext {
    width: 150px;
    text-align: center;
    margin: 8px 10px 136px 0px;
}

.quote {
    background-color: #E5E7EB;
    padding: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    text-align: left;
    padding: 0 20% 0 20%;
}

.quote-author {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    padding-right: 25%;
}

.market {
    display: flex;
    padding: 50px 120px 50px 120px;
    border-radius: 8px;
    margin: 100px 20%;
    justify-content: space-between;
    background-color: #3882F6;
}

.market-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 4px;
}

.market-text {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.market-subtext {
    color: white;
}

.market-signup-button {
    color: white;
    background: #3882F6;
    border: 2px white solid;
    border-radius: 8px;
    padding: 2px 48px;
    margin: 6px 0px;
}

.footer {
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 40px;
}